*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Montserrat', sans-serif;
    background:#0f1115;
    color:white;
    overflow-x:hidden;
}

/* NAVBAR */

nav{
    width:100%;
    padding:20px 10%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:fixed;
    top:0;
    z-index:1000;
    background:rgba(20,22,28,0.85);
    backdrop-filter:blur(10px);
    border-bottom:1px solid rgba(255,255,255,0.05);
}

.logo{
    font-size:22px;
    font-weight:800;
}

.logo span{
    color:#00aaff;
}

nav ul{
    list-style:none;
    display:flex;
    gap:30px;
}

nav ul li{
    list-style:none;
}

nav ul li a{
    text-decoration:none;
    color:#ccc;
    transition:0.3s;
}

nav ul li a:hover{
    color:#00aaff;
}

/* HERO */

.hero{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    text-align:center;
    padding-top:80px;
    background:
    linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.9)),
    url('https://images.unsplash.com/photo-1605902711622-cfb43c44367f?q=80&w=2070') center/cover fixed;
}

.hero h1{
    font-size:75px;
    font-weight:800;
    opacity:0;
    transform:translateY(40px);
    animation:fadeUp 1s ease forwards;
}

.hero span{
    color:#00aaff;
}

.hero p{
    margin-top:20px;
    font-size:20px;
    color:#aaa;
    opacity:0;
    transform:translateY(40px);
    animation:fadeUp 1s ease forwards 0.3s;
}

.connect-btn{
    margin-top:40px;
    padding:18px 50px;
    font-size:18px;
    font-weight:600;
    border-radius:12px;
    border:none;
    cursor:pointer;
    background:rgba(0,170,255,0.15);
    color:#00aaff;
    backdrop-filter:blur(10px);
    border:1px solid rgba(0,170,255,0.4);
    transition:0.3s;
    opacity:0;
    transform:translateY(40px);
    animation:fadeUp 1s ease forwards 0.6s;
}

.connect-btn:hover{
    background:#00aaff;
    color:white;
    box-shadow:0 0 20px #00aaff;
}

/* SECTION */

.section{
    padding:120px 10%;
    display:flex;
    justify-content:center;
    gap:40px;
    flex-wrap:wrap;
    background:#11141a;
}

.card {
    width:320px;
    padding:40px;
    border-radius:20px;
    background:rgba(52,152,219,1); /* kék */
    color:white;
    text-align:center;
    box-shadow:0 4px 6px rgba(255, 255, 255, 0.2);
    transition: transform 0.3s;
    opacity:1 !important;       /* látható */
    transform:translateY(0) !important; /* nincs eltolás */
}

.card.visible{
    transform:translateY(0);
    opacity:1;
}

.card:hover{
    border-color:#00aaff;
    box-shadow:0 0 30px rgb(0, 100, 150);
}

.card h3{
    margin-bottom:15px;
    color:#014567;
}

footer{
    padding:40px;
    text-align:center;
    color:#777;
    background:#0c0e12;
}

/* ANIMATION */

@keyframes fadeUp{
    to{
        opacity:1;
        transform:translateY(0);
    }
}

.logo{
    display:flex;
    align-items:center;
    gap:12px;
    font-size:22px;
    font-weight:800;
}

.logo img{
    width:40px;   /* méret állítható */
    height:auto;
}

nav ul li a.active{
    color:#00aaff;
}

/* PREMIUM SECTION */

.premium-section{
    padding:140px 8% 80px 8%;
    background:#11141a;
}

.premium-section h1{
    text-align:center;
    font-size:42px;
    margin-bottom:60px;
    color:#00aaff;
}

/* PREMIUM GRID ALAP (desktop 3 egymás mellett) */
.vehicle-grid{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:30px;
}


/* KÁRTYA */
.vehicle-card{
    border:3px solid #00aaff;
    border-radius:12px;
    overflow:hidden;
    background:#1a1d24;
    transition:0.3s;
    display:flex;
    flex-direction:column;   /* fontos */
}

.vehicle-card:hover{
    transform:translateY(-8px);
    box-shadow:0 0 25px rgba(0,170,255,0.4);
}

/* KÉP */
.vehicle-card img{
    width:100%;
    height:200px;
    object-fit:cover;
    display:block;
}

/* ALSÓ SZÜRKE RÉSZ */
.vehicle-info{
    background:#2a2e36;
    padding:20px;
    height:180px;            
    display:flex;
 justify-content:center; 
    text-align: center;     
}

.vehicle-info h2{
    color:#00aaff;
    margin-bottom:10px;
    font-size:22px;
}

.vehicle-info p{
    color:#ccc;
    font-size:14px;
}
.price-badge{
    position:absolute;
    top:15px;
    right:15px;
    background:#00aaff;
    color:white;
    padding:8px 14px;
    border-radius:8px;
    font-weight:600;
    font-size:14px;
    box-shadow:0 0 15px rgba(0,170,255,0.6);
}

.tipus-badge{
    position:absolute;
    top:15px;
    left:15px;
    background:#00aaff;
    color:white;
    padding:8px 14px;
    border-radius:8px;
    font-weight:600;
    font-size:14px;
    box-shadow:0 0 15px rgba(0,170,255,0.6);
}


.kozep{
    text-align: center;
}

.vehicle-card{
    position:relative;
}


.menu-toggle{
    display:none;
    font-size:28px;
    cursor:pointer;
}

@media(max-width:900px){
    nav ul{
        position:absolute;
        top:80px;
        right:-100%;
        flex-direction:column;
        background:#11141a;
        width:200px;
        padding:30px;
        transition:0.4s;
    }

    nav ul.active{
        right:0;
    }

    .menu-toggle{
        display:block;
    }
}

.hero::after{
    content:"";
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:150px;
    background:linear-gradient(to top, #0f1115, transparent);
}

/* SOCIAL SECTION */

.social-section{
    padding:140px 8% 100px 8%;
    background:#11141a;
    text-align:center;
}

.social-section h1{
    font-size:42px;
    margin-bottom:60px;
    color:#00aaff;
}

.social-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
    gap:40px;
}

.social-card{
    padding:40px;
    border-radius:20px;
    background:rgba(255,255,255,0.05);
    backdrop-filter:blur(15px);
    border:1px solid rgba(255,255,255,0.1);
    text-decoration:none;
    color:white;
    transition:0.4s;
}

.social-card img{
    width:70px;
    margin-bottom:20px;
}

.social-card h2{
    margin-bottom:15px;
    font-size:22px;
}

.social-card p{
    font-size:14px;
    color:#ccc;
}

.social-card:hover{
    transform:translateY(-10px);
    box-shadow:0 0 30px rgba(0,170,255,0.4);
    border-color:#00aaff;
}

/* Discord külön kiemelés */

.social-card.discord:hover{
    border-color:#5865F2;
    box-shadow:0 0 35px rgba(88,101,242,0.6);
}

.social-card.discord h2{
    color:#5865F2;
}

/* YouTube */

.social-card.youtube:hover{
    border-color:#ff0000;
    box-shadow:0 0 35px rgba(255,0,0,0.6);
}

.social-card.youtube h2{
    color:#ff0000;
}

/* TikTok */

.social-card.tiktok:hover{
    border-color:#25F4EE;
    box-shadow:0 0 35px rgba(37,244,238,0.6);
}

.social-card.tiktok h2{
    color:#25F4EE;
}


/*animacio*/
.reveal{
    opacity:1;
    transform:translateY(0);
}

.reveal.active{
    opacity:1;
    transform:translateY(0);
}


@keyframes float{
    0%{ transform:translateY(0px); }
    50%{ transform:translateY(-8px); }
    100%{ transform:translateY(0px); }
}

.social-card img{
    animation:float 4s ease-in-out infinite;
}



/* DOWNLOAD SECTION */

.download-section{
    padding:140px 8% 100px 8%;
    background:#11141a;
    text-align:center;
}

.download-section h1{
    font-size:42px;
    margin-bottom:60px;
    color:#00aaff;
}

.download-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(300px,1fr));
    gap:50px;
}

.download-card{
    padding:50px;
    border-radius:20px;
    background:rgba(255,255,255,0.05);
    backdrop-filter:blur(15px);
    border:1px solid rgba(255,255,255,0.1);
    transition:0.4s;
}

.download-card:hover{
    transform:translateY(-10px);
    border-color:#00aaff;
    box-shadow:0 0 35px rgba(0,170,255,0.3);
}

.download-card h2{
    margin-bottom:20px;
    font-size:26px;
}

.download-card p{
    margin-bottom:30px;
    color:#ccc;
}

/* GOMB */

.download-btn{
    padding:15px 40px;
    border-radius:10px;
    text-decoration:none;
    font-weight:600;
    transition:0.3s;
    display:inline-block;
}

.gta-btn{
    background:#ff8800;
    color:white;
}

.gta-btn:hover{
    background:#ff6a00;
    box-shadow:0 0 25px rgba(255,136,0,0.6);
}

.mta-btn{
    background:#00aaff;
    color:white;
}

.mta-btn:hover{
    background:#0088cc;
    box-shadow:0 0 25px rgba(0,170,255,0.6);
}


nav{
    position:fixed;
}

@media(max-width:900px){
    nav{
        position:fixed;
    }

    nav ul{
        top:70px; /* igazítsd a navbar magasságához */
        right:-100%;
        height:100vh;              /* teljes képernyő */
        justify-content:flex-start;
        gap:25px;
        box-shadow:-5px 0 20px rgba(0,0,0,0.5);
    }

    nav ul li{
        margin:10px 0;
    }
}


.menu-toggle{
    display:none;
    flex-direction:column;
    gap:6px;
    cursor:pointer;
}

.menu-toggle span{
    width:28px;
    height:3px;
    background:white;
    transition:0.3s;
}

@media(max-width:900px){
    .menu-toggle{
        display:flex;
    }
}


.menu-toggle.active span:nth-child(1){
    transform:rotate(45deg) translate(5px,5px);
}

.menu-toggle.active span:nth-child(2){
    opacity:0;
}

.menu-toggle.active span:nth-child(3){
    transform:rotate(-45deg) translate(6px,-6px);
}



/* SOCIAL GRID ALAP */
.social-grid{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:30px;
    margin-top:40px;
}

/* MOBIL NÉZET */
@media(max-width:900px){

    .social-grid{
        grid-template-columns: 1fr; /* 1 oszlop */
    }

}


/* PREMIUM GRID ALAP (desktop 3 egymás mellett) */
.vehicle-grid{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:30px;
}

/* TABLET / HAMBURGER MÉRET */
@media(max-width:900px){
    .vehicle-grid{
        grid-template-columns: repeat(2, 1fr); /* 2-2 */
    }
}

/* KIS TELEFON */
@media(max-width:500px){
    .vehicle-grid{
        grid-template-columns: 1fr; /* 1 oszlop ha nagyon kicsi */
    }
}


.section {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 2rem;
}

